<header>
    <div class="container-grid cabecalho">
        <a href="index.html"> <img class="logo" src="assets/img/Logo.png" alt="Logo do site Game Mania"> </a>
        <nav id="menu" class="menu">
            <a href="#">PC-Gamer</a>
            <a href="#">Notebook</a>
            <a href="#">Celular</a>
            <a href="#">Diversos</a>
            <a href="#">Contato</a>
            <!-- <a href="login.html" target="_blank">Login</a> -->
            <a routerLink="/login">Login</a>
        </nav>
        <!-- <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="img/bars-solid.svg" alt="Ícone do menu barras"></a> -->
        <a href="#" id="barras"><img class="icone-menu" src="assets/img/bars-solid.svg" alt="Ícone do menu barras"></a>
    </div>
    
</header>
