<footer class="container">
    <section class="rodape">               
            <div class="conteudorodape posicionamento">
                <div class="missao">
                <a href="missao.html" target="_blank"><h4>Missão</h4></a>
                <a href="visao.html" target="_blank"><h4>Visão</h4></a>
                <a href="valores.html" target="_blank"><h4>Valores</h4></a>
                </div>
                
            <div class="nossoendereco">
                <h4>Visite nossa loja física:</h4><p></p>
                <h5>Av. Ceará, 231 - Perdizes</h5>
                <h5>São Paulo - SP</h5>
                <h5>CNPJ:31.310.310/0310-31</h5>
                </div>

            <div class="suaexperiencia">
                    <a href="suaexperiencia.html" target="_blank"><h4>Sua Experiencia</h4></a>
                    <a href="pagamento.html" target="_blank"><img class="pagamento" src="assets/img/pagamento.png"></a>
                </div>

            <div class="nossasredes">
                    <h4>Nossas Redes</h4><p></p> <p></p>
                    <a href="nossasredes.html" target="_blank"><img class="redes" src="assets/img/redes.png"></a>
                    
                </div>
            </div>
    </section>

    <section>
        <div class="seguranca">
                <a href="termosecondicoes.html" target="_blank"><h6>Termos e condições</h6></a>
                <a href="privacidade.html" target="_blank"><h6>Cuidamos da sua privacidade</h6></a>
                <a href="trabalheconosco.html" target="_blank"><h6>Trabalhe conosco</h6></a>
        </div>
        
    </section>

    <!-- <form action=""> 
        <input id="campo-email" type="email" placeholder="E-mail" required>
        <button onclick="cadastrarNewsletter">Cadastrar</button>
    </form> -->
</footer>
